html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

.form-parent {
background-color: purple;
padding: 8%;
font-size: 30rem;
text-align: center;
}

.text-box {
  padding: 0.5rem;
  font-size: 2.9rem;
}

.btn {
font-size: 2.5rem;
padding: 0.5rem;
}

.display-album{
margin: auto;
font-size: 3.5rem;
/* padding: 8px 10px 8px 10px; */
}

.display-artist{
  margin: auto;
  font-size: 3.5rem;
  /* padding: 8px 10px 8px 10px; */
}
.display-img{
  margin: auto;
  padding: 10px 15px 10px 15px;
  width: 55rem;
}

.display-card {
background-color: blueviolet;
text-align: center;
padding: 10px 10px 10px 10px;
display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 30vw;
}

.remove-btn {
    font-size: 2rem;
    margin: auto;

}



/* #container-box {
background-color: black;
font-size: 2vh;
color: cornsilk;
text-align: center;
}


.cat-poster {
    width: 10rem;
} */