#background {
background-color: purple;
font-size: 30px;
padding: 8%;
text-align: center;
}


/* #container-box {
background-color: black;
font-size: 2vh;
color: cornsilk;
text-align: center;
}


.cat-poster {
    width: 10rem;
} */