.form-parent {
background-color: purple;
font-size: 45px;
padding: 8%;
text-align: center;
}

.display-card {
background-color: blueviolet;
font-size: 35px;
text-align: center;
padding: 5px 5px 20px 5px;
width: 30vw;
}

.img {
width: 29vw;

}


.btn {
font-size: 25px;
padding: 5px;
}

.text-box {
    padding: 5px;
    font-size: 20px;
}

/* #container-box {
background-color: black;
font-size: 2vh;
color: cornsilk;
text-align: center;
}


.cat-poster {
    width: 10rem;
} */